Flask==0.10.1
Flask-FlatPages==0.6
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
oauthlib==0.6.0
PyYAML==3.11
requests==2.0.0
requests-oauthlib==0.3.2
twython==3.1.0
vboxapi==1.0
Werkzeug==0.11.3
wheel==0.26.0
