$purple: #2D2864;
$fg: #d3bcc0;
$pink-white: #F2D7EE;
$pink: #A5668B;
$mauve: #69306D;

$mainfont: 'Work Sans', Helvetica, sans-serif;

@mixin transition($element, $delay) {
  -webkit-transition: $element $delay ease;
  -moz-transition: $element $delay ease;
  -ms-transition: $element .25s ease;
  -o-transition: $element $delay ease;
  transition: $element $delay ease;
}

@mixin background-gradient($color1, $color2) {
  background-color: $color1;
  background: -webkit-linear-gradient(left top, $color1, $color2);
  background: -o-linear-gradient(left top, $color1, $color2);
  background: -moz-linear-gradient(left top, $color1, $color2);
  background: linear-gradient(left top, $color1, $color2);
}

@mixin project-link($color) {
  color: $color;
  text-decoration: none;
  border-bottom: 1px solid $color;
  @include transition(all, 0.25s);
}
