<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    {% block meta_description %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('main.pygments_css') }}">
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-196x196.png') }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="alternate" href="kylerjohnston.com/blog/" hreflang="en-us">
    {% block additional_stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header_left">
          <a href="{{ url_for('main.blog') }}" class="name_nav">KYLE R. JOHNSTON</a>
        </div>
        <div class="header_right">
          <ul class="nav">
            <li class="nav"><a href="{{ url_for('main.blog') }}" class="nav" id="nav">Blog</a></li>
            <li class="nav"><a href="{{ url_for('main.archive') }}" class="nav" id="nav">Archive</a></li>
            <li class="nav"><a href="{{ url_for('main.about') }}" class="nav" id="nav">About</a></li>
            <li class="nav"><a href="{{ url_for('main.resume') }}" class="nav" id="nav">Portfolio</a></li>
            <li class="nav"><a href="{{ url_for('main.atom_feed') }}" class="atom" id="nav"><i class="fa fa-rss-square"></i></a></li>
          </ul>
        </div>
        <div class="menu">
          <ul class="nav">
            <li class="nav"><a href="{{ url_for('main.blog') }}" class="nav" id="nav">Blog</a></li>
            <li class="nav"><a href="{{ url_for('main.archive') }}" class="nav" id="nav">Archive</a></li>
            <li class="nav"><a href="{{ url_for('main.about') }}" class="nav" id="nav">About</a></li>
            <li class="nav"><a href="{{ url_for('main.resume') }}" class="nav" id="nav">Portfolio</a></li>
            <li class="nav"><a href="{{ url_for('main.atom_feed') }}" class="nav" id="nav"><i class="fa fa-rss-square"></i> Atom Feed</a></li>
          </ul>
        </div>
        <div class="menu-button">
          <button id="menu-open"><i class="fa fa-bars"></i></button>
          <button id="menu-close"><i class="fa fa-times"></i></button>
        </div>
      </div>
      {% block page_content %}{% endblock %}
      <footer>
        <p class="footer">Built with <i class="fa fa-heart red"></i> using Python and Flask. <a href="http://github.com/kylerjohnston/another-static-flask-blog">View the source code on Github</a>.</p>
        <p class="footer">All content copyright <i class="fa fa-copyright"></i> 2015&ndash;<span id="current-year"></span> Kyle Johnston and released under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
      </footer>
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block additional_scripts %}{% endblock %}
  </body>
</html>
