{% extends "base.html" %}

{% block page_title %}Kyle R. Johnston - {{ post.title }}{% endblock %}

{% if post.description %}
{% block meta_description %}
<meta name="description" content="{{ post.description }}">
{% endblock %}
{% endif %}

{% block page_content %}
  <section>
    <article>
      <h1 class="heading">{{ post.title }}</h1>
      <small class="heading">
        {{ post.date }}
        <ul class="tags">
          {% for tag in post.tags %}
            <li class="tags"><a class="tags" href="{{ url_for('main.view_tag', tag=tag) }}">#{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </small>
      {{ post }}
    </article>
    <article>
      <div id="disqus_thread"></div>
    </article>
  </section>
  <script>
     var disqus_config = function () {
       this.page.url = "{{ url_for('main.post', post_name = post.slug, _external = True) }}";
       this.page.identifier = "{{ post.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//kylerjohnston.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
{% endblock %}

{% block additional_scripts %}
<script id="dsq-count-scr" src="//kylerjohnston.disqus.com/count.js" async></script>
{% endblock %}
