{% extends "base.html" %}

{% block page_title %}Tags{% endblock %}

{% block page_content %}
<section>
  <table>
    {% for row in two_col_tags %}
    <tr class="invisible">
      <td align="center"><a href="{{ url_for('main.view_tag', tag=row["one"]) }}">#{{ row["one"] }}</a></td>
      {% if row["two"] != "" %}
      <td align="center"><a href="{{ url_for('main.view_tag', tag=row["two"]) }}">#{{ row["two"] }}</a></td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}


